:root{
    --transition: 300ms;
}
.news{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #f2f2f2;
    /* height: 800px; */
    width: 100%;
}
.news-wrapper{
    width: 1220px;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.news-content{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    flex: 1;
}
.news-content a{
    display: inline-block;
    text-decoration: none;
    color: #444;
    font-size: 1.1em;
    text-align: center;
}
.news-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.news-menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.news- div{
    display: flex;
    align-items: center;
    padding: 0 5px;
}
.news-{
    display: flex;
    flex-direction: column;
    /* border-bottom: 5px solid black; */
}
.left-breaking-news .news-:nth-child(1){
    border-bottom: 5px solid #279BD0;
}
.left-breaking-news .news-:nth-child(2){
    border-bottom: 5px solid #444;
}
.right-breaking-news .news-:nth-child(1){
    border-bottom: 5px solid #8E2A2F;
}
.right-breaking-news .news-:nth-child(2){
    border-bottom: 5px solid #265CFF;
}
.news-menu span{
    cursor: pointer;
    user-select: none;
}
.select-content{
    display: flex;
    gap: 20px;
}
.breaking-news img{
    width: 100%;
}
.breaking-news,.advertisement,.others{
    display: flex;
}
.left-breaking-news,.right-breaking-news,.left-advertisement,.right-advertisement{
    display: flex;
    gap: 10px;
    flex: 1;
}
.left-breaking-news div,.right-breaking-news div,.left-advertisement div,.right-advertisement div{
    flex: 1;
    background-color: white;
}
.left-advertisement div,.right-advertisement div{
    padding: 60px 20px;
    background-color: white;
    /* border-bottom: 5px solid black; */
}
.left-advertisement div:first-child{
    border-bottom: 5px solid #279BD0;
}
.left-advertisement div:nth-child(2){
    border-bottom: 5px solid #444;
}
.right-advertisement div:first-child{
    border-bottom: 5px solid #8E2A2F;
}
.right-advertisement div:nth-child(2){
    border-bottom: 5px solid #265CFF;
}
.breaking-news{
    height: 350px;
    display: flex;
    gap: 10px;
    transition: var(--transition);
    overflow: hidden;
    max-height: 800px;
    /* z-index: 1000; */
}
.breaking-news.close{
    max-height: 0;
}
.advertisement{
    z-index: 50;
    display: flex;
    /* display: none; */
    gap: 10px;
    transition: var(--transition);
    position: absolute;
    top: 50%;
    /* bottom: 170px; */
}
.advertisement.open{
    /* bottom: 0px; */
    top: 0;
}
.others{
    background-color: #f2f2f2;
    display: flex;
    gap: 10px;
    /* height: 350px; */
    /* background-color: rgba(255, 0, 0,.2); */
    z-index: 100;
    transition: var(--transition);
    /* position: absolute; */
    /* top: 280px; */
    /* top: 100px; */
    width: 100%;
}
.others.news-close{
    /* top: 220px; */
    margin-top: 195px;
    /* transform: translateY(190px); */
}
.others-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
.others-grid img{
    /* width: 115px; */
    height: 100%;
}
.other-grid-element{
    border: 8px solid white;
}
.other-grid-element:last-child a{
    flex-direction: row-reverse;
    gap: 20px;
}
.other-grid-element:nth-child(5),.other-grid-element:nth-child(6){
    background-color: white;
    font-weight: 600;
}
.other-grid-element a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.graduates{
    width: 585px;
    height: 100;
    background-color: blue;
    transition: none !important;
}
@media screen and (max-width: 1270px){
    .news-wrapper{
        width: 1150px;
    }
    .others{
        /* top: 270px; */
    }
    .advertisement{
        bottom: 20px;
    }
    .advertisement.open{
        bottom: 500px;
    }
    .others.news-close{
        /* margin-top: 175px; */
    }
}
@media screen and (max-width:1181px){
    .news{
        /* height: 660px; */
    }
    .news-wrapper{
        width: 950px;
    }
    .news-content{
        width: 100%;
    }
    .left-breaking-news,.right-breaking-news,.left-advertisement,.right-advertisement{
        display: flex;
        /* gap: 10px; */
        flex: 1;
    }
    .advertisement{
        bottom: 160px;
    }
    .left-advertisement div,.right-advertisement div{
        padding: 50px 15px;
    }
    .advertisement.open{
        bottom: 415px;
    }
    .others-grid{
        /* width: 500px; */
        height: 400px;
    }
    .others{
        /* height: 350px; */
        top: 250px;
    }
    .others.news-close{
        top: 215px;
    }
    .graduates{
        width: 500px;
    }
    .others-grid{
        display: grid;
        grid-template-columns: repeat(3,230px);
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
    .other-grid-element:not(:nth-child(3)) img{
        width: 110px !important;
    }
}
@media screen and (max-width:960px){
    .news{
        /* height: 950px; */
        /* width: 100%; */
    }
    .news-wrapper{
        width: 620px;
    }
    .advertisement{
        overflow: hidden;
        max-height: 400px;
        z-index: 50;
        display: flex;
        flex-direction: column;
        /* display: none; */
        gap: 10px;
        transition: var(--transition);
        position: absolute;
        bottom: 0px;
        top: 100%;
    }
    .advertisement.open{
        /* max-height: 800px; */
        bottom: 0px;
    }
    .breaking-news{
        height: 450px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .right-breaking-news,.left-breaking-news{
        display: flex;
        /* height: 50px; */
    }
    /* .right-breaking-news .news-2 a{
        height: fit-content;
    } */
    .breaking-news img{
        height: 150px;
        /* width: 90%; */
    }
    .news-content{
        gap: 0px;
    }
    .others-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
        gap: 5px;
    }
    .others{
        /* top: 440px; */
        flex-direction: column;
        height: 450px;
        margin-top: 20px;
    }
    .others.news-close{
        margin-top: 420px;
        /* top: 370px; */
    }
    .other-grid-element:not(:nth-child(3)) img{
        width: 90px !important;
    }
    .graduates{
        height: 400px;
        width: 100%;
    }
    .news-wrapper{
        /* gap: 0; */
    }
}
@media screen and (max-width: 640px){
    .news{
        /* height: 1055px; */
    }
    .news-wrapper{
        /* height: 1100px !important; */
    }
    .others{
        height: 550px;
        margin-top: 20px;
        gap: 30px;
        /* max-height: 1400px; */
    }
    .breaking-news{
        height: 550px;
    }
    .advertisement{
        /* width: 100%; */
    }
    .advertisement.open{
        bottom: 610px;
        height: 450px;
    }
    .left-advertisement div,.right-advertisement div{
        padding: 40px 15px;
    }
    .others{
        align-items: center;
        /* top: 445px; */
        /* height: 700px; */
    }
    .others.news-close{
        /* top: 355px; */
        margin-top: 440px;
    }
    .others-grid{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
    }
    .graduates{
        width: 100%;
        height: 360px;
    }
}
@media screen and (max-width:450px){
    .slidebar{
        margin-top: 5px;
    }
    .single-slide-img-wrapper{
        height: 250px;
    }
    .dot{
        margin: 0 5px !important;
    }
    .news-wrapper{
        width: 100%;
    }
    .other-grid{
        height: max-content;
        grid-template-columns: repeat(1fr 1fr);
    }
    .info-boxes-wrapper{
        flex-direction: column;
    }
    .other-grid-element{
        font-size: 3vw;
    }
    .other-grid-element:nth-child(3) img{
        width: 100% !important;
    }
    .other-grid-element img{
        width: 40px !important;
    }
    .advertisement{
        overflow: unset;
    }
    .advertisement.close{
        top: 600px;
    }
}